<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Helen Burgess</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/grid-four-six.css">
    <link rel="stylesheet" href="/css/grid-layouts.css">
    <link rel="stylesheet" href="/css/grid-modular.css">
    <link rel="stylesheet" href="/css/variables.css">
    {% block head %}{% endblock %}
    <script src="https://kit.fontawesome.com/49adc57732.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "partials/header.njk" %}
    
    <main>
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>
