---
layout: layouts/base.njk
---

<article class="writing-single">
  <div class="writing-hero">
    <div class="hero-image-container">
      {% if image %}
        <img src="{{ image }}" alt="{{ title }}">
      {% endif %}
    </div>
    <div class="hero-content">
      <h1>{{ title }}</h1>
      <div class="writing-meta">
        <time datetime="{{ date | formatDate }}">{{ date | readableDate }}</time>
        {% if category %}
          <span class="category">{{ category }}</span>
        {% endif %}
      </div>
    </div>
  </div>

  {{ content | safe }}
</article>
