---
title: About
layout: layouts/base.njk
permalink: /about/
---

  <!-- Hero Section -->
  <section class="hero is-medium is-primary is-bold" style="background-image: url('/assets/images/other/aaron-burden-unsplash.jpg'); background-size: cover; background-position: center;">
    <div class="hero-body">
      <div class="container has-text-centered p-6" style="background-color: rgba(51, 46, 99, 0.33);">
        <h1 class="title has-text-white">About Helen B: A Tapestry of Technology and Resilience</h1>
        <p class="subtitle has-text-white">Discover the journey and experiences that have shaped my path in technology, creativity, and life.</p>
      </div>
    </div>
  </section>

  <!-- About Intro Section -->
  <section class="section ml-6 mr-6">
    <div class="columns is-centered">
      <div class="column is-4">
        <figure class="image">
          <img src="/assets/images/other/Helen-Burgess.jpg" alt="Helen B" loading="lazy">
          <figcaption class="has-text-centered">Helen B</figcaption>
        </figure>
      </div>
      <div class="column is-4">
        <h2 class="title">Welcome to My Unique Journey</h2>
        <p>Welcome to the world of Helen B, where the threads of technology, resilience, and lifelong learning intertwine to create a vibrant tapestry. From the sun-kissed shores of Perth, Western Australia, Helen's journey is one of courage, innovation, and the relentless pursuit of knowledge.</p>
        <h3 class="title pt-6">Early Inspirations: Dreams of the Moon and Machines</h3>
        <p>Helen's story begins with a childhood filled with wonder and curiosity. Inspired by a father who turned washing machine parts, as well as other odds and ends, into a rocket, her imagination soared as high as her dreams to reach the moon. This early fascination with technology and the unknown laid the foundation for a life driven by exploration and discovery.</p>
      </div>
    </div>
  </section>

  <!-- Military Career Section -->
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-4">
        <h3 class="title">A Calling in the Skies: The RAAF Chapter</h3>
        <p>After high school, Helen's path took a bold turn as she enlisted in the Royal Australian Air Force (RAAF). In the disciplined and challenging environment of the military, she not only honed her skills in technology but also developed a resilience that would become a hallmark of her character. Her time in the RAAF was a period of profound growth, shaping her into a leader and a problem-solver.</p>
        <h3 class="title pt-6">Transition to Technology: The Educational Odyssey</h3>
        <p>Leaving the RAAF marked the beginning of a new chapter in Helen's life. She transitioned into the realm of education, where she shared her passion for technology with eager minds at the Central Institute of Technology in Perth. As a mentor and educator, Helen guided countless students through the intricacies of web design and development, leaving an indelible mark on the next generation of tech enthusiasts.</p>
      </div>
      <div class="column is-4">
        <figure class="image">
          <img src="/assets/images/other/raaf-mother.png" alt="A representation of a Working Mother in the RAAF" loading="lazy">
          <figcaption class="has-text-centered">A representation of a Working Mother in the RAAF. Generated by DALL-E 3 from prompt by Helen Burgess</figcaption>
        </figure>
      </div>
    </div>
  </section>

  <!-- Education Section -->
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-4">
        <figure class="image">
          <img src="/assets/images/other/graduation-2007.jpg" alt="Graduating with a Master's Degree 2007" loading="lazy">
          <figcaption class="has-text-centered">Graduating with a Master's Degree 2007</figcaption>
        </figure>
      </div>
      <div class="column is-4">
        <h2 class="title">Graphite Edge: A Venture into the Digital Frontier</h2>
        <p>Helen's journey then led her to establish Graphite Edge, a beacon for small to medium businesses navigating the digital landscape. Here, she combines her military discipline, educational expertise, and technological acumen to offer bespoke solutions in web development and digital strategy.</p>
        <h3 class="title pt-6">A Personal Odyssey: Healing and Growth</h3>
        <p>Beyond her professional achievements, Helen's story is also one of personal resilience. Her journey through the challenges of military life and the demands of the tech world is a testament to her strength and adaptability. It's a journey marked by continuous learning, self-discovery, and an unwavering commitment to personal growth.</p>
      </div>
    </div>
  </section>

  <!-- Join Section -->
  <section class="section has-background-light">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <h2 class="title">Join Helen's Journey</h2>
        <p>Today, Helen B stands as a symbol of innovation, resilience, and the transformative power of technology. Her life is a narrative of taking the road less traveled, constantly seeking new horizons in the digital realm and beyond. Join her as she continues to explore, inspire, and empower.</p>
      </div>
    </div>
  </section>

