---
layout: layouts/base.njk
title: Home
permalink: /
eleventyNavigation:
  key: Home
  order: 10
---

<!-- Hero Section -->
<section class="hero is-medium is-primary" style="background-image: url('/assets/images/other/road-less-travelled.png'); background-size: cover; background-position: center;">
      <div class="container has-text-centered p-6" style="background-color: rgba(51, 46, 99, 0.33);">
      <h1 class="title has-text-white has-text-centered">Exploring the Road Less Travelled</h1>
      <p class="subtitle has-text-white has-text-centered">
        From ASCII to HTML, I've navigated the roads less travelled in technology and life. Veteran, Nana, knitter, and web technologist looking to pass on my lived experience of self-discovery.
      </p>
      <div class="buttons is-centered">
        <a class="button is-accent" href="/writings" target="_self">
          Unleash the power of knowledge. Read now!
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Introduction Section -->
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <!-- Column 1 -->
      <div class="column is-half">
        <article>
          <h2 class="title">Welcome to My Digital Garden &hellip;</h2>
          <p>
            &hellip; A haven where I explore the road less traveled, unravel the complexities of my journey, and find solace in the transformative power of web technologies. As a multifaceted individual, I wear multiple hats: I am a veteran, a devoted mother and doting nana, a master knitter, and a website developer. Above all, I am a seeker of meaning, drawing inspiration from great thinkers like Adler and the Stoics.
          </p>
          <p>
            I have always been passionate about learning and sharing knowledge. My journey has taken me through various fields, each enriching my understanding and skills. I believe in the power of community and the importance of giving back.
          </p>
        </article>
      </div>
      <div class="column is-half">
        <article>
          <h3 class="subtitle">A Turning Point:</h3>
          <p>
            The year 2000 marked a pivotal moment in my life. I bid farewell to the RAAF and embarked on a 14-year journey in vocational education, specializing in web design and development. It was a chapter dedicated to finding healing and meaning, as I guided eager learners with meticulous precision, witnessing their growth and evolution.
          </p>
        </article>
      </div>
      <div class="column is-half">
        <article>
          <h3 class="subtitle">My Journey</h3>
          <p>
            My career path has been as diverse as it has been enlightening. Serving in the RAAF, I navigated the complexities of military life while finding solace in teaching and technology. From the challenges of loading telex machines to deciphering the enigma of the infamous ration pack, I thrived on problem-solving and illuminating the path forward for those around me.
          </p>
          <p>
            After leaving the RAAF, I transitioned into education, where I found a new calling in teaching web design and development. This phase of my life was dedicated to helping others discover their potential and passion for technology.
          </p>
        </article>
      </div>
      <div class="column is-half">
        <article>
          <h3 class="subtitle">The Quest for Healing and Discovery:</h3>
          <p>
            In 2015, I took another transformative step, intertwining the wisdom of Adler and the Stoics into my personal odyssey of healing and self-discovery. Through Codemaster Institute bootcamps, I found a platform to inspire and empower aspiring web enthusiasts, igniting their passion for the digital realm.
          </p>
        </article>
      </div>
      <div class="column is-full">
        <article>
          <h3 class="subtitle">Unlocking a World of Possibilities:</h3>
          <p>
            Today, my commitment to education and personal growth is stronger than ever. I venture into the digital frontier to empower individuals like you with the skills and knowledge to thrive in the vast landscape of web technologies. Through every thread I knit and website I develop, I showcase the transformative power of web technologies.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>


<section class="section latest-posts">
  <h2 class="title is-3"><i class="fa-solid fa-clock"></i> Latest Articles in Writings</h2>
  <div class="columns is-multiline">
    {% for post in collections.latestPosts %}
      <div class="column is-one-third">
        <div class="card">
          {% if post.data.image %}
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
              </figure>
            </div>
          {% endif %}
          <div class="card-content">
            <h3 class="title is-5">
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h3>
            <p class="is-size-7 has-text-grey">
              {{ post.date | readableDate }}
            </p>
            {% if post.data.description %}
              <p>{{ post.data.description }}</p>
            {% endif %}
            <a class="button is-link mt-2" href="{{ post.url }}">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

  {% include "partials/newsletter-cta.njk" %}
