---
title: Reading
layout: layouts/reading.njk
description: A collection of books I've read, with ratings and reviews.
permalink: /reading/
eleventyNavigation:
  key: Reading
  order: 40  # Adjust this number based on your other navigation items' order
--- 