   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>{{ title }}</title>
   </head>
   <body>
    <header>
        <nav>
           <ul>
            {% for item in collections.all | eleventyNavigation %}
            <li>
                <a href="{{ item.url }}">{{ item.key }}</a>
            </li>

            {% endfor %}
           </ul>
        </nav>
    </header>
       <main>
        <ul>
            <li>Base URL: {{ "https://helenburgess.id.au/writings/post-1" | htmlBaseUrl }}</li>
    <li>Absolute URL: {{ "writings/post-1" | absoluteUrl("https://helenburgess.id.au") }}</li>
    <li>Add Path Prefix: {{ "writings/post-1" | addPathPrefixToFullUrl("https://helenburgess.id.au") }}</li>
        </ul>   
           {{ content | safe }}
       </main>
       <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
       <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
       </script>
   </body>
   </html>