---
layout: layouts/base.njk
---
 <article>
     <header>
       <h1>{{ title }}</h1>
       <p>Published on {{ date | dateDisplay }}</p>
     </header>
     <section>
       {{ content | safe }}
     </section>
   </article>