---
layout: base.njk
title: Thank You
permalink: /thank-you/
---

<div class="page-container">
    <section class="thank-you">
        <h1>Thank You!</h1>
        <p>Your message has been received. I'll get back to you as soon as possible.</p>
        <a href="/" class="button">Return to Homepage</a>
    </section>
</div> 