<header class="navbar">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img src="/img/logo.svg" alt="Link to Home">
    </a>
  </div>
  <nav class="navbar-menu">
    <ul class="navbar-end">
      <li><a href="/" class="navbar-item">Home</a></li>
      <li><a href="/about/" class="navbar-item">About</a></li>
      <li><a href="/writings/" class="navbar-item">Writings</a></li>
      <li><a href="/contact/" class="navbar-item">Contact</a></li>
    </ul>
  </nav>
</header> 
