<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="/assets/images/other/Logo.png" alt="Link to Home">
      </a>
      <!-- Optional hamburger menu for mobile view -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <nav>
          {% set navPages = collections.all | eleventyNavigation %}
          <ul>
          {%- for entry in navPages %}
            <li{% if entry.url == page.url %} class="active"{% endif %}>
              <a href="{{ entry.url }}">{{ entry.key }}</a>
            </li>
          {%- endfor %}
            <li>
              <a href="https://graphitedge.com.au" target="_blank" rel="noopener noreferrer">Graphitedge</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</header>
